.galerie {
  text-align: center;
  padding: 50px 40px;
}

.galerie h2 {
  font-size: 36px;
  font-weight: 700;
  color: #84a98c;
  margin-bottom: 30px;
}

.galerie h3 {
  font-size: 24px;
  font-weight: 400;
  color: #4c4f4c;
  margin-bottom: 20px;
}

/* 2 images par slide */
.slide-images {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 400px));
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Pagination */
.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #cfcfcf;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #84a98c !important;
  transform: scale(1.2);
}

/* Images */
.slide-images img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s ease;
  
}

.slide-images img:hover {
  transform: scale(1.05);
}

.image-modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}
.image-modal img{
  width: 80vmin;
  height: 80vmin;
  object-fit: cover;
  border-radius: 12px;
}


/* Tablette */
@media (max-width: 768px) {
  .galerie {
    padding: 40px 20px;
  }

  .slide-images {
    gap: 15px;
  }

  .slide-images img {
    height: 220px;
  }

  .galerie h2 {
    font-size: 28px;
  }

  .galerie h3 {
    font-size: 20px;
  }

  .image-modal img{
  width: 60vmin;
  height: 60vmin;
  object-fit: cover;
  border-radius: 12px;
}
}

/* Mobile */
@media (max-width: 480px) {
  .slide-images {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .slide-images img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
  }

  .galerie h2 {
    font-size: 24px;
  }

  .galerie h3 {
    font-size: 18px;
  }
  .image-modal img{
  width: 75vmin;
  height: 80vmin;
  object-fit: cover;
  border-radius: 12px;
}





}